.boxShadow__input {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0.4375rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #3c4d62;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dbdfea;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
  margin-bottom: 1.3rem;
}
.boxShadow {
  display: flex;
  align-items: center;
}
